body{
 background-color: black;
 display: flex;
 justify-content: center;
}
.container{
  border: 3px solid red;
  width: 70%;
  height: 460px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.container #container2{
  border: 3px solid blue;
  color: white;
  width: 50%;
  height: 200px;

  display: flex;
  align-items: center;
  justify-content: center;
}