body{
  margin:0px;
  padding: 0px;
  overflow-x: hidden;
  background-color: black;
}
header{
  height: 70px;
  padding: 15px;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 4;
}
header li{
  display: inline;
  padding-left: 20px;
}
header li a{
  font-size: 19px;
  color: white;
  text-decoration: none;
  padding: 5px;
}
header li img{
  height: 109px;
  width: 300px;
  float: left;
  margin-left: -55px;
  margin-top: -40px;
}
header ul #connect a{
  color: black;
  width: 200px;
  height: 35px;
  display: flex;
  align-items: center;
  border-radius: 30px;
  background-color: rgb(20 242 191);
  float: right;
  position: relative;
  padding-left: 20px;
  font-size: 19px;
  margin-top: -2px;
  margin-right: 20px;

}
header ul #connect a:hover{
background-color: violet;
}
header ul #home a{
color: rgb(235, 0, 255);
}
body img{
width: 100%;
}
.cryptoclub {
  margin-top: -40px;
  height: 670px;
  width: auto;
  background-color: rgb(34, 34, 34);
}
.cryptoclub h1{
  color: aquamarine;
  line-height: 5;
  font-size: 40px;
  text-align: center;
}
.cryptoclub p{
  color: white;
  display: block;
  line-height: 32px;
  font-size: 20px;
  text-indent: 30px;
  text-align: center;
  margin-top: -30px;
}
.button{
height: 35px;
margin-left: 600px;
margin-right: 600px;
text-align: center;
}
.team {
  color:rgb(20 242 191) ;
  margin-top: -5px;
  height: 45px;
  width: 200px;
  border: 3px solid rgb(20 242 191);
  border-radius: 50px;
  background-color:rgb(34, 34, 34);
}
.team:hover{
color: rgb(235, 0, 255);
border: 3px solid rgb(235, 0, 255);
}
.club_monkey{
width: 80%;
height: 345x;
display: flex;
margin-top: -37px;
padding-left: 140px;
}
.club_monkey #baseball{
  margin-right: -100px;
}
.club_monkey #branch{
  margin-left: -100px;
}
#genesis{
  width: 100%;
}
