body{
  margin:0px;
  padding: 0px;
  overflow-x: hidden;
}
header{
  height: 70px;
  padding: 15px;
  background-color: black;
  text-align: center;
}
header li{
  display: inline;
  padding-left: 20px;
}
header li a{
  font-size: 19px;
  color: white;
  text-decoration: none;
  padding: 5px;
}
header li img{
  height: 109px;
  width: 300px;
  float: left;
  margin-left: -55px;
  margin-top: -40px;
}
header ul #connect a{
  color: black;
  width: 200px;
  height: 35px;
  display: flex;
  align-items: center;
  border-radius: 30px;
  background-color: rgb(20 242 191);
  float: right;
  position: relative;
  padding-left: 20px;
  font-size: 19px;
  margin-top: -2px;
  margin-right: 20px;

}
header ul #connect a:hover{
background-color: violet;
}
header ul #home a{
color: blueviolet;
}

